/*
* Judi Manning
* March 28
* Description of Project
*/


/* The universal selector */

* {

}

/* Put body attributes here */

body { font-family: Impact, Ariel, "Times New Roman";
background-color: red;
	color: black;

}
img{float: right;} 

h1{text-decoration: overline underline}